/* CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS RESET */

:root{
    font-family: "Norse",Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

#external-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;

}

.img-container{
    display: flex;
    flex-direction: column; 
    align-items: center;
    height: 100vh;
    width: 40%;
    background-image: url("./img/halie-west-25xggax4bSA-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.img-container p,a{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.img-container p span{
    text-decoration: underline;
}

.logo-odin-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
    margin-bottom: 465px;
    display: flex;
    width: 100%;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 72px;
    color: white;
}

.logo-odin-container img{
    width: auto;
    height: 80%;
}

.right-section{
    height: 100vh;
    width: 60%;
    display: flex;
    flex-direction: column;
}

.right-section-content{
    font-family: Arial, Helvetica, sans-serif;
    height: calc(100vh/3);
    width: 100%;
}

.form-call-to-action{
    display: flex;
    flex-direction: column;
    align-items: initial;
    justify-content: end;
    width: 100%;
    height: 100%;
}

.form-call-to-action p {
    margin: 0 0 35px 35px;
    font-weight: bold;
    line-height: 1.2rem;
}

.gray-section{
    background-color: #F9FAFB;
}

h2{
    font-size: 22px;
    font-weight: bold;
    margin: 20px 0 10px 30px;
}

form{
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 270px;
    max-width: 600px; 
}

.form-section{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: calc(100%/3);
    margin-left: 30px;
}

.form-input{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
    width: 100%;
    font-weight: bold;
    font-size: 12px;
}

.form-input input{
    border: 2px solid #E5E7EB;
    width: 80%;
    border-radius: 3px;
}

input:focus {
    border-color: #3847d5;  
    outline: none; 
    box-shadow: 0 0 5px rgba(21, 106, 210, 0.5); 
}

input:invalid {
    border-color: #d53838;  
    outline: none; 
    box-shadow: 0 0 5px rgba(210, 21, 40, 0.5); 
}

.create-account-section{
    display: flex;
    flex-direction: column;
    width: 275px;
    height: 130px;
}

.create-account-section button{
    width: 150px;
    height: 35px;
    margin: 20px 30px;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    color: #F9FAFB;
    background-color: #596D48;
    border-radius: 5px;
    border: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.create-account-section p{
    margin-left: 30px;
    font-size: 12px;
    font-weight: bold;
}

.create-account-section a{
    color: #596D48;
    text-decoration: none;
}
